
.img-circle {
    width: 40px;
    height: 36px;
}
.commenterTab {
    height: 300px;
    width: 200px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 12px;
}
.commenterTabInfo {
    max-height: 300px;
    overflow: scroll;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border-left-width: 0;
    border-right-width: 0;
    border-bottom: 2px solid #0095e2;
    
}
.nav-tabs>li>a {
    width: 82px;
    padding: 4px 0 3px;
    
}





.caret.right {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid;
}
.caret.left {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-right: 4px solid;
}