<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-9 panel-default">
            <div class="panel-heading">
                

                
                <h4>
                    What are you working on?
                </h4>
                <h5>
                    Get help or advice on all things associated with Commercial Real Estate.
                </h5>

                <div>
                    <div class="col-sm-2">
                        <img src="../resources/images/download.jpg" class="img-circle"/>
                    </div>
                    <div class="col-sm-10">
                        <input type="text" ng-model="postTitle" maxlength="30" class="form-control input-sm" placeholder="Example Title: &quot;How will an interest rate spike effect my property value?&quot;"/>
                        <p class="pull-right">Characters Remaining: {{ (70-(postTitle.length)) }}</p>
                    </div>
                </div>
                
                <textarea type="text" ng-model="postDetails" class="form-control" placeholder="Tell us the details here, share photos if you have them"></textarea>
                
    
                <div class="row">
                    <div class="btn-group col-sm-5" uib-dropdown>
                        <h5>Categorize Your Discussion</h5>
                        <button id="single-button" type="button" class="btn btn-primary btn-sm" uib-dropdown-toggle>
                            General Discussion/Question <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem"><a href="#/">Action</a></li>
                            <li role="menuitem"><a href="#/">Another action</a></li>
                            <li role="menuitem"><a href="#/">Something else here</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-4">
                        <h5>City (optional)</h5>
                        <input type="text" class="form-control input-sm" placeholder="Enter City Here"/>
                    </div>

                    <div class="btn-group col-sm-3" uib-dropdown>
                        <h5>
                            State (optional)
                        </h5>
                        <button id="state-button" onchange="" type="button" class="btn btn-primary" uib-dropdown-toggle>
                            --
                            <span class="caret">
                            </span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="state-button">
                            <li role="menuitem"><a href="#/">(none)</a></li>
                            <li role="menuitem"><a href="#/">Alabama</a></li>
                            <li role="menuitem"><a href="#/">Alaska</a></li>
                            <li role="menuitem"><a href="#/">Arkansas</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="parentScrollable">
                        Yes, notify me when I recieve new answers to this question.
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="parentScrollable2">
                        Share question on Facebook.
                    </label>
                </div>

                <a href="#/" class="btn btn-primary" ng-click="createPost()">
                    Post
                </a>
                <a href="#/" class="btn btn-default">
                    Cancel
                </a>
            </div>
        </div>
        
        <div class="col-sm-3 panel-default commenterTab">
            <div class="panel-heading hidden-xs">
                <h6><b>Top Commenters</b></h6>

                <uib-tabset class="row" active="active">
                    <uib-tab class="col-sm-4" index="0" heading="Today">
                        <div class="commenterTabInfo">
                            <div class="col-sm-12" ng-repeat="item in participants">
                                <div class="col-sm-3">
                                    <img src="../resources/images/download.jpg" class="img-circle">
                                    </img>
                                </div>
                                <div class="col-sm-9">
                                    <p>{{ item }}</p>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab class="col-sm-4" index="1" heading="This Week">
                    </uib-tab>
                    <uib-tab class="col-sm-4" index="2" heading="This Month">

                            <div class="col-sm-12" ng-repeat="item in participants">
                                <div class="col-sm-3">
                                    <img src="../resources/images/download.jpg" class="img-circle">
                                    </img>
                                </div>
                                <div class="col-sm-9">
                                    <p>{{ item }}</p>
                                </div>
                            </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
    <div class="col-sm-12 panel-default">
        <div class="panel-body">
            <div class="btn-group col-sm-5" uib-dropdown>
                <button type="button" class="btn btn-default btn-sm" uib-dropdown-toggle>
                    Sort By:<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li><a>--</a></li>
                    <li><a ng-click="sortBy('date', true)">Newest</a></li>
                    <li><a ng-click="sortBy('date', false)">Oldest</a></li>
                    <li><a ng-click="sortBy('responses.length', true)">Most Responses</a></li>
                    <li><a ng-click="sortBy('responses.length', false)">Fewest Responses</a></li>
                </ul>
            </div>
            <div class="pull-right">
                <p>_ of _ Questions
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="caret left"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="caret right"></span>
                    </button>
                </p>
            </div>
        </div>
        <button class="col-sm-12 panel-footer" ng-repeat-start="item in postList | orderBy:date" data-toggle="modal" data-target=".myModal">
            <h4>{{ item.title }}</h4>
            
            <div class="col-sm-3">
                <img class="img-circle" src="../resources/images/download.jpg">
                </img>
            </div>
        
            <div class="col-sm-9">
                <p>Latest answer by {{ item.responses[0].author }}</p>
                <p>On: {{ (item.responses[0].date) | date: short }}</p>
            </div>
        
            <p>Added by {{ item.author }} | {{ item.date | date : short }} | {{ item.responses.length }} Comments</p>
        
        
        
        </button>

<div class="container" ng-repeat-end>
  <div class="modal fade myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Obie Ask</h4>
        </div>
        <div class="modal-body">
            <div class="col-sm-12 panel-footer">
                <h4>{{ item.title }}</h4>
                <h6>{{ item.author }} | {{ item.date | date }}</h6>

                <div class="col-sm-3">
                    <img class="img-circle" src="../resources/images/download.jpg">
                    </img>
                </div>

                <div class="col-sm-9">
                    <p>Latest answer by {{ item.responses[0].author }}</p>
                    <p>On: {{ (item.responses[0].date) | date: short }}</p>
                </div>

                <p>Added by {{ item.author }} | {{ item.date | date : short }} | {{ item.responses.length }} Comments</p>



            </div>   
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
        <div class="panel-body">
        </div>
    </div>
</div>